{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

  {% block body %}
      <section class="book">

          <div class="card">
              <div class="card-header bg-info">
                  <div class="col-sm-12">
                      <h1>{{ book.title }} de {{ book.author }}</h1>
                  </div>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-3">
                          <img src="{{ book.linkSmallImageBook }}" alt=""> <br>
                      </div>
                      <div class="col-sm-9">
                          <div class="card-text">
                              publié par {{ book.publisher }}
                          </div>
                          <div class="card-text">
                              Un livre en langue {{ book.language }} de {{ book.pageCount }} pages
                          </div>
                          <div class="card-text">
                              De catégorie : {{ book.MainCategory }}
                          </div>
                          <br>
                          <div class="card-text">
                              {{ book.description|raw }}
                          </div>
                      </div>
                  </div>
                  <br>

              </div>
              <div class="card-footer">
                  {% if book.isInTheLibrary %}
                      <div class="row">
                          <p class="col-sm-12">This book is in the library at {{ book.location }}</p>
                      </div>
                  {% else %}
                      <a data-id="{{ book.id }}" href="" class="addBookLibrary card-text btn btn-warning">Add in library</a>
                  {% endif %}
                  <a  data-id="{{ book.id }}" href="" class="deleteBook card-text btn btn-danger">Delete</a>
              </div>

          </div>


      </section>

      <script>
          $(document).ready(function () {
              jQuery(".addBookLibrary").click(function(e){
                  e.preventDefault();
                  var id = $(this).attr('data-id');
                  $.ajax({
                      url: "{{ path('add_book_inlibrary') }}",
                      type: "POST",
                      data: {
                          "id": id
                      },
                  }).done(function (data) {
                      if(data.success){
                          $("#book"+id).remove();
                          $('<div class="alert alert-success">' + data.msg + '</div>').insertAfter('section header');
                      }

                  });

              });

              jQuery(".deleteBook").click(function(e){
                  e.preventDefault();
                  var id = $(this).attr('data-id');
                  var url = Routing.generate('delete_book', {
                      'id': id
                  });
                  $.ajax({
                      url: url,
                      type: "POST",
                      data: {
                          "id": id
                      },
                  }).done(function (data) {
                      if(data.success){
                          $("#book"+id).remove();
                          $('<div class="alert alert-success">' + data.msg + '</div>').insertAfter('section header');
                      }

                  });

              });


          });

      </script>

{% endblock %}

